__pycache__
venv
.venv
build
dist
.pytest_cache
*.pyc
*.pyo
*.pyd
.mypy_cache
.cache
.eggs
*.egg-info
tests
docs
data
.git
*.csv
data/*.json
api.boavizta.org-openapi.json
helm-chart
k8s
.github
.vscode
.idea
frontend/node_modules
frontend/.svelte-kit
frontend/build