apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "greenkube.fullname" . }}
  labels:
    {{- include "greenkube.labels" . | nindent 4 }}
data:
  # --- General Config ---
  LOG_LEVEL: {{ .Values.config.logLevel | quote }}
  CLOUD_PROVIDER: {{ .Values.config.cloudProvider | quote }}
  DEFAULT_ZONE: {{ .Values.config.defaultZone | quote }}

  # --- Database Config ---
  DB_TYPE: {{ .Values.config.db.type | quote }}
  ELASTICSEARCH_HOSTS: {{ .Values.elasticsearch.hosts | quote }}
  ELASTICSEARCH_INDEX_NAME: {{ .Values.elasticsearch.indexName | quote }}
  ELASTICSEARCH_VERIFY_CERTS: {{ .Values.elasticsearch.verifyCerts | quote }}

  # --- Collector Config ---
  PROMETHEUS_URL: {{ .Values.config.prometheus.url | quote }}
  PROMETHEUS_VERIFY_CERTS: {{ .Values.config.prometheus.verifyCerts | quote }}
  OPENCOST_API_URL: {{ .Values.config.opencost.url | quote }}
  
  # --- Estimator Defaults ---
  {{- with .Values.defaults }}
  {{- with .instance }}
  DEFAULT_INSTANCE_VCORES: {{ .vcores | quote }}
  DEFAULT_INSTANCE_MIN_WATTS: {{ .minWatts | quote }}
  DEFAULT_INSTANCE_MAX_WATTS: {{ .maxWatts | quote }}
  {{- end }}
  {{- end }}